{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% block content %}
<div class="container">
    <div class="card">
      <div class="card-body">
            {% for p in post %}
              {{ p.content }}
            {% endfor %}
      </div>
    </div>
</div>
    <p>{% translate "About Rogers Park Free Store" %}</p>

<section class="rfps-about-area mt-50 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class=google-maps mb-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.748015776766!2d-87.6723482845549!3d42.00568317921229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd1b07cc3e09f%3A0xe3696ec39e1cca5e!2s6808%20N%20Ashland%20Ave%2C%20Chicago%2C%20IL%2060626!5e0!3m2!1sen!2sus!4v1623612916640!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>

{% endblock %}
